<h1 class="d-flex justify-content-center">Stupid Coaching</h1>
<div class="box">
<div class="text"><%= @answer %></div>
<p><em>- You</em></p>
</div>

<div class="box">
<div class="text"><%= @display %></div>
<p><em>- Your coach</em></p>

<%= link_to "Ask another question", ask_path %>
</div>
