
<div class="d-flex p-12 justify-content-center align-items">
<form action="answer">
  <label for="answer" class="form-label title">Ask your coach</label>
  <input class="form-control" type="text" name="answer">
  <input class="form-control" type="submit" value="Ask!">
</form>
</div>
