// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.box{
  height: 120px;
  width: 0, auto;
  font-size: 18px;
  font-family: 'Opens Sans', sans-serif;
}

p {
  color: rgba(0, 0, 0, 0.5);
  font-family: courier;
  background-color: rgba(248, 202, 133, 0.5);
}

.text {
  font-size: 21px;
  margin-left: 8px;

}
